body {
    background-color: #080808;
    color: #e6e6e6;
    font-family: "Courier New", monospace;
    margin: 0;
    padding: 0;
}


/* HEADER */

header {
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid #b30000;
}


header h1 {
    color: #d00000;
    font-size: 50px;
    letter-spacing: 8px;
    margin: 0;
}


header p {
    color: #888;
    font-size: 18px;
}


/* WARNING BOX */

.warning {

    width: 70%;
    margin: 40px auto;

    border: 2px solid #d00000;
    padding: 25px;

    background-color: #140000;

}


.warning h2 {

    color: #ff3333;
    text-align: center;

}


/* STATUS */

.status {

    width: 70%;
    margin: auto;

}


.status h2 {

    text-align: center;

}


table {

    width: 100%;
    border-collapse: collapse;

}


th {

    background-color: #990000;
    padding: 15px;

}


td {

    border: 1px solid #444;
    padding: 12px;
    text-align: center;

}


/* BUTTON */

.enter {

    text-align: center;
    margin: 50px;

}


.enter a {

    color: white;
    background-color: #990000;

    padding: 18px 40px;

    text-decoration: none;

    border: 2px solid #ff0000;

}


.enter a:hover {

    background-color: #ff0000;

}


/* FOOTER */

footer {

    text-align: center;
    color: #666;
    margin-top: 80px;
    padding: 20px;

}
